<ion-header>

  <ion-navbar color="primary">
    <ion-title>Reports</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!-- <ion-searchbar (ionInput)="getItems($event)" placeholder="{{ 'SEARCH_PLACEHOLDER' | translate }}"></ion-searchbar> -->
  <ion-card color="secondary" *ngIf="currentItems.length == 0">

    <!-- <ion-card-header>
      Card Header
    </ion-card-header> -->
  
    <ion-card-content>
      <!-- Add card content here! -->
      <p>
        No reports found
      </p>
    </ion-card-content>
  
  </ion-card>

  <ion-card *ngFor="let item of currentItems">
      <!-- <ion-card-header>
        
      </ion-card-header> -->
      <div class="white-line">
        {{item.Name}}
      </div> 
      <div class="line-p"></div>
      <ion-card-content class="content-p">
          <h1>{{item.Subject}}</h1>
          <p>{{item.Category}} test of {{item.Teacher}} for "{{item.Class}}"</p>
          <p></p>
          <ion-item class="line-item">
              <ion-icon name="ios-bookmark" item-start color="primary"></ion-icon>
              SCORE !!
              <ion-badge item-end>{{item.gain}} / {{item.total}}</ion-badge>
            </ion-item>
        </ion-card-content>
    
</ion-card>

  <!-- <ion-list>
    <button ion-item (click)="openItem(item)" *ngFor="let item of currentItems">
      <ion-avatar item-start>
        <img [src]="item.profilePic" />
      </ion-avatar>
      <h2>{{item.name}}</h2>
      <p>{{item.about}}</p>
      <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
    </button>
  </ion-list> -->
</ion-content>